.navLinks {
    margin-top: 0vh;
   
}
 
a:first-child {
 float: left;
}

a.is-active button, a button {
        margin: 0;
        padding:10px;
        font-size: 1.2rem;
        font-weight: bold;
        width: 50vw;
        height: 6vh;
        text-decoration: none;
        text-align:center;
        background : rgba(153, 201, 255,0.8);
}

