.header {
    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    height: 10vh;
    position: absolute;
    top:0vh;
    left: 0vw;
}

.header2,.header1,.loggedinuser {
   
    background: rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header1 img {
    width: 150px;
    height: 50px;
    cursor: pointer;
}


.header2 h1 {
  
    cursor: pointer;
}


.user {
    /* width: 15vw; */
    display: flex;
    flex-direction: row;
  
}



.user span {
    font-size: 1rem;
    font-weight: bold;
    margin: 5px ;
    color: black;
    margin-left: 1vw;
}

.fas {
    font-size: 1rem;
    color : black;
}

