.inputcont {
        /* background: rgba(145, 95, 95, 0.6); */

    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 10.2vh;
    left:0vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitForm {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
	background: rgba(0,0,0,0.5);
}



.forminputs{ 
    width: 50vw;
    height: 80vh;
    display: grid;
    grid-template-rows: repeat(8,8vh);
    grid-gap: 2vh;
    align-items: center;
    justify-content: flex-end;
    animation: inputPlaceholder 0.5s linear 0s forwards;
    left: -100vw;
    position: absolute;
}


@keyframes inputPlaceholder {
    from {
        left: -100vw
    }

    to {
        left: 45vw
    }
}







.forminputs textarea {
    width: 50vw;
    height: 6vh;
    font-size: 1rem;
    text-align: center;

}

.forminputs textarea::placeholder,
.forminputs input::placeholder
{
	color: white;
	text-align: center;
    font-size: 1rem;
    margin: auto 0;
}
.forminputs textarea, .forminputs input, .forminputs button {
	background: rgba(216, 63, 135, 0.8);
    border-radius: 20px; 
    color: white;
    text-decoration: none;
    outline: none;
}







/* input[type="file"] {
    visibility: hidden;
} */
.forminputs input {

    width: 50vw;
    text-align: center;
    height: 6vh;
}







.submitClaimBtn {

    width: 50vw;
    height: 6vh;
    margin-top: 15vh;

}

.uploadbtn {
  
   height: 6vh;
   width: 50vw;
   margin-top: 2vh;


}






