.sidebar {
	background: rgba(216, 63, 135, 0.8);
    width: 15vw;
    height: 89.5vh;
    position: absolute;
    top: 10.2vh;
    left:0vh;
    border-top: 1px solid black;
    display: flex;
    align-items: flex-start;
}

